@tailwind base;
@tailwind components;
@tailwind utilities;

.sample_css {
  /* @apply bg-purple-500 inline-block px-6 py-2 rounded-lg text-white uppercase; */
  color: theme("colors.purple.200");
  background-color: theme("colors.purple.900");
  padding: theme("padding.2") theme("padding.6");
  border-radius: theme("borderRadius.lg");
  display: inline-block;
}